.calender_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}
.calender_container p {
  font-size: 75px;
  font-weight: bold;
}
